<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030081224933-6vdl9v4181g0neb0cd49ibobt4dgfdq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030081224933-6vdl9v4181g0neb0cd49ibobt4dgfdq7</string>
	<key>API_KEY</key>
	<string>AIzaSyATHHNBS9i3jYKnP5Xr5IFQgOK-AvjkgTM</string>
	<key>GCM_SENDER_ID</key>
	<string>1030081224933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alphachip.KakaoTalkCopyRe</string>
	<key>PROJECT_ID</key>
	<string>kakaotalkcopyre</string>
	<key>STORAGE_BUCKET</key>
	<string>kakaotalkcopyre.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030081224933:ios:c98ea01156ab5729c8340c</string>
	<key>DATABASE_URL</key>
	<string>https://kakaotalkcopyre.firebaseio.com</string>
</dict>
</plist>